

.maindiv{
    background-color: #e9e7f8;
    margin: 0px;
    padding-top: 0px;
    align-items: center;
    
}
.main{
 width: 100%;
 display: flex;
 justify-content: space-around;
 align-items: center;
align-content: flex-start;

    /* display: flex; */
    /* margin: 10px; */
    /* justify-content: space-between; */
    /* margin-top: 0px;
    margin-bottom: 0px; */
    
   
}
.mainn{
 
 display: flex;
 /* justify-content: space-around; */
 align-items: center;


    /* display: flex; */
    /* margin: 10px; */
    /* justify-content: space-between; */
    /* margin-top: 0px;
    margin-bottom: 0px; */
    
   
}
@media (max-width:320px){
  /* .main{
    display: none;

  } */
.mainn{
    display: none;
}

}
.linkdiv{
    width: 100%;
    background-color: #4035b8;
}
.links{
    
    text-decoration: none;
   padding-bottom: 5px;
    margin-top: 0px;
    padding-top: 5px;
    /* padding-left: 20px;
   padding-right: 20px; */
    background-color: #4035b8;   
    color: #e9e7f8;
}
.links :hover{
    
    color: red;
}
.vstack{
    justify-content: space-around;

   display: flex;
   
}
.img{
   
    padding-top: 0px;
    width: 65px;
    height: 7%;
    border-radius: 30%;
    
     
}
.name{
    margin: 0px;
    padding: 0px;
    padding-right: 100px;
}
.logo{
    width: 60px;
    
    height: 100%;
    border-radius: 20%;
   
}
.bell
{
    color: red;
    padding-top: 4px;
    padding-left: 100px;
    padding-right: 15px;
    margin-right: -5%;

 
}


