.maindivv{
    padding-bottom: 30%;
display: grid;
justify-content: center;
background-size: cover;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-image: url('C:\Users\hp\Desktop\quiet-boundary-1362\src\logo.png');

}


