.maindiv{
    background-color: antiquewhite;
    margin: 0px;
    padding-top: 10px;
}
.main{
    display: flex;
    margin: 10px;
    justify-content: center;
    margin-top: 0px;
    
   
}
.links{
    text-decoration: none;
    margin: 10px;
    background-color: aqua;   
}
.links :hover{
    
    color: red;
}
.vstack{
    justify-content: center;
   
}
.img{
    margin-left: 20px;
    padding-top: 0px;
    width: 3%;
    height: 7%;
    border-radius: 30%;
    
     
}
.name{
    margin: 0px;
    padding: 0px;
    padding-right: 100px;
}


